@model IEnumerable<Donation.Models.Disaster>

@{
    ViewData["Title"] = "Index";
}

<div class="max-w-[1600px] mx-auto py-4">
    <h1 class="text-2xl font-bold">Disasters that need funding</h1>
    @if(User.Identity.IsAuthenticated) { 
        <p class="mt-2 mb-8"><a class="text-gray-200 hover:text-white hover:no-underline text-sm px-6 py-2 rounded bg-gray-900" asp-action="Create">Create New</a></p>
    }
    <table class="table mt-8">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RequiredTypeOfAid)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequiredTypeOfAid)
                    </td>
                    <td>
                        @if(User.Identity.IsAuthenticated) { 
                            <a asp-action="Details" class="text-gray-200 hover:text-white hover:no-underline text-sm px-6 py-2 rounded bg-gray-900" asp-route-id="@item.Id">Details</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
