@model IEnumerable<Donation.Models.AllocateMoney>

@{
    ViewData["Title"] = "Index";
}

<br />
<h2 class="text-2xl font-bold">Allocated Money Donations</h2>
<br />
@if(User.Identity.IsAuthenticated) { 
    <p class="mt-2"><a class="text-gray-200 hover:text-white hover:no-underline text-sm px-6 py-2 rounded bg-gray-900" asp-action="Create">Create New</a></p>
}
<div class="flex items-center justify-between mt-8">
    @if(User.Identity.IsAuthenticated) { 
        <h6 class="py-4 px-10 bg-gray-200 font-bold rounded">Remaing Amount: @ViewData["RemainAmount"]</h6>
    }
    <h6 class="py-4 px-10 bg-gray-200 font-bold rounded">Allocated Amount: @ViewData["AllocatedAmount"]</h6> 
    <h6 class="py-4 px-10 bg-gray-200 font-bold rounded">Donated Amount: @ViewData["DonatedMoney"]</h6>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllocatedTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                R @Html.DisplayFor(modelItem =>  item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllocatedTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if(User.Identity.IsAuthenticated) { 
                    <div>
                        <a asp-action="Edit" class="text-gray-200 hover:text-white hover:no-underline text-sm px-6 py-2 rounded bg-gray-900" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" class="text-gray-200 hover:text-white hover:no-underline text-sm px-6 py-2 rounded bg-gray-900" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" class="text-gray-200 hover:text-white hover:no-underline text-sm px-6 py-2 rounded bg-gray-900" asp-route-id="@item.Id">Delete</a>
                    </div>
                }
            </td>
        </tr>
}
    </tbody>
</table>
