@model IEnumerable<Donation.Models.MoneyDonation>

@{
    ViewData["Title"] = "Index";
}

<div class="max-w-[1600px] mx-auto py-4">
    <h1 class="text-2xl font-bold">Monetary Donations</h1>
    @if(User.Identity.IsAuthenticated) {
        <p class="mt-2"><a class="text-gray-200 hover:text-white hover:no-underline text-sm px-6 py-2 rounded bg-gray-900" asp-action="Create">Create New</a></p>
    }   
    <table class="table mt-8">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Donor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Used)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                     <td>
                    R @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                        <td>
                    @Html.DisplayFor(modelItem => item.Donor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Used)
                    </td>
                    <td class="flex space-x-3 items-center">
                        @if(User.Identity.IsAuthenticated) { 
                            <a asp-action="Details" class="text-gray-200 hover:text-white hover:no-underline text-sm px-6 py-2 rounded bg-gray-900" asp-route-id="@item.Id">Details</a>
                            <a asp-area="" class="text-gray-200 hover:text-white hover:no-underline text-sm px-6 py-2 rounded bg-gray-900" asp-controller="AllocateMoneys" asp-action="Index">Allocate Money</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class='bg-gray-100 py-3 space-y-2 mt-10 divide-y-4 divide-white'>
    <div class='px-3 flex align-items-center justify-between'>
        <span class='font-bold'>Donated Amount</span>
        <span class="font-bold text-blue-600">@ViewData["DonatedMoney"]</span>
    </div>
    <div class='px-3 flex align-items-center justify-between'>
        <span class='font-bold'>Allocated Amount</span>
        <span class="font-bold text-red-600">@ViewData["AllocatedAmount"]</span>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <div class='px-3 flex align-items-center justify-between'>
            <span class='font-bold'>Remaing Amount</span>
            <span class="font-bold text-green-600">@ViewData["RemainAmount"]</span>
        </div>
    }
</div>
